{# empty Twig template #}
{# On étend le layout principal #}
{% extends "::layout.html.twig" %}

{% block title %} 
  {{ parent() }} - Profile
{% endblock %}


{% block body %}
             <div class="container">
        <div class="row centered-form">
      <div class="col-xs-10 col-sm-5 col-md-8 col-sm-offset-3 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title"> <strong>Mon compte</strong> </small></h2>
          </div>
          <div class="panel-body">

<form class="form-horizontal" method="POST" action="">
<fieldset>


<div class="form-group">
  <label class="col-md-4 control-label" for="email">User name</label>  
  <div class="col-md-5">
  <label class="form-control input-md">{{nom}}</label>
<!--  <input id="username" name="username" type="username" class="form-control input-md" value="Tam"> -->
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-5">
  <label class="form-control input-md">{{email}}</label>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nom-prenom">Nom &amp; Prenom</label>  
  <div class="col-md-5">
  <label class="form-control input-md">{{nom}} {{ prenom}}</label>
    
  </div>
</div>

<!-- Text input-->

<!-- valider -->
<div class="form-group"><br><br>
  <label class="col-md-4 control-label" for="sujet"></label>
  <div class="col-md-2" align="left">
    <!-- first email is in routing which belongs to EtuVue, second email is in array of the ModificationController in EtuVue function -->
    <a href="{{ path('modification_Etudiant', {'id':id})}}" class="btn btn-block btn-lg btn-primary">Modifier</a>
  </div>
</div>

</fieldset>
</form>

          </div></div></div></div></div>
	  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    {% endblock %}