{% extends "::layout.html.twig" %}

{% block title %} 
  Mooc'Line - Exercice - Apercu 
{% endblock %}

{% block body %}

  <div class="container">
        <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h2 class="panel-title"> <strong>{{nomEx}} type : {{ctype}} <br/>nombre de Questions : {{numbQuestion}} </strong> </small></h2>
          </div>
          <div class="panel-body">
            


            <form  method="POST" {{ form_enctype(form) }}>
            


            {%for quest in form.Questions %}


            {{ form_label(quest.question) }}
                                                 <span class="col-md-offset-6"> {{ form_widget(quest.point, { 'attr':{ 'maxlength' : 5 , 'size' : 3  } }) }} points </span> 
                                                 <br/><br/>
            {{ form_widget(quest.question, { 'attr':{'rows' : 2 , 'cols' : 40 } }) }}

            {% if type == "qcm" or type == "qrf" %}
                <h4>Reponses</h4>
                <ul class="Reponses">
                {% for rep in quest.Reponses %}
                   <li>{{ form_row(rep) }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <br/>
            <hr/>
            {%endfor%}

            {{form_widget(form._token)}}
           {% if not import %}
				{{ form_row(form.valider) }} <br/>
           {% endif %}
			{{ form_row(form.sauvegarder) }} <br/>

            </form>
			{% if import %}
				<a href="{{path('moocline_exo_create' )}}">Retour</a>
			{% else %}
				<a href="{{path('moocline_exo_createExercice',{'type': type } )}}">Reprendre</a>
			{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}