{% extends "::layout.html.twig" %}

{% block title %} 
  Mooc'Line - Exercice - Création
{% endblock %}

{% block body %}

	<div class="container">
        <div class="row centered-form">
			<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
			    		<h2 class="panel-title"> <strong>Création d'Exercice</strong></small></h2>
					</div>
					<div class="panel-body">
					    <a href="{{path('moocline_exo_createExercice',{'type': 'QCM'})}}">Créer un Exercice Type QCM</a><br/>
					    <a href="{{path('moocline_exo_createExercice',{'type': 'QRF'})}}">Créer un Exercice Type QRF</a><br/>
						<a href="{{path('moocline_exo_createExercice',{'type': 'QP'})}}">Créer un Exercice Type Programme</a><br/>
						<a href="{{path('moocline_exo_createExercice',{'type': 'QL'})}}">Créer un Exercice Type Libre</a><br/>
            			<a href="{{path('moocline_exo_importExercice')}}"> Importer un Exercice</a></br>
					</div>

				</div>
			</div>
		</div>
	</div>
	
{% endblock %}